/* Quicksand font */

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

/* Shared relatade styles */
.display-flex{
  display: flex;
}
header,main,footer{
  max-width: 1160px;
  margin: 0 auto;
}
.btn-primary{
  background-color: orange;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 10px 60px;
  margin: 20px 1px;
  font-weight: 600;
  font-size: 20px;
}

/* Navvar Styles */
.navvar{
  justify-content: space-between;
}

.nav-list{
  list-style: none;
  text-decoration: none;
  margin-right: 20px;
  margin-top: 16px;
  font-weight: 400;
  font-size: 20px;
}

.brand{
  font-weight: bold;
  font-size: 32px;
  margin-left: 11px;
}
.menu{
  display: none;
}

/* banner styles */
.banner{
  align-items: center;
}
.banner-container{
  width: 640px;
  margin-right: 50px;
}
.banner-title{
  font-weight: bold;
  font-size: 56px;
}
.banner-description{
  font-size: 20px;
}
.enroll-now{
  background-color: black;
}


/* Responsive styles */
@media screen and (max-width:576px) {
  .navvar{
    justify-content: space-between;
    border: 1px solid orange;
    padding: 12px 16px;
  }
  .brand,.nav-list,.btn-primary{
    display: none;
  }
  .menu{
    display:block;
    width: 30px;
    margin-top: 10px;
  }
  .banner{
    flex-direction: column-reverse;
    text-align: center;
    margin: 0 17px;
  }
  .banner-container{
    margin-right: 0;
  }
  .banner-description{
    width: 400px;
    height: 50px;
    margin-left: 120px;
    margin-top: 0;
  }
  .enroll-now{
    display: grid;
    margin-left: 210px;
    margin-top: 80px;
    text-align: center;
  }
}